




<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Our Queens location works Sunday-Friday from 10 am till 7 pm.
          <!--If you want to come to-->
          <!--our Manhattan location you need to schedule an appointment. Feel free to call us any time. </p>-->
      </div>
      <div class="col-lg-12  text-center">
        <a href="tel:+1-718-846-1600">
          <i class="fa fa-phone fa-3x wow bounceIn"></i>
          <p>718-846-1600</p>
        </a>
      </div>
      <div class="col-lg-12  text-center">
        <a href="https://www.google.com/maps/dir/Current+Location/119-16+Jamaica+Ave+Jamaica+NY+11418">
          <i class="fa fa-map-marker fa-3x wow bounceIn"></i>
          <p>116-19 Jamaica Ave, Jamaica, Queens, NY, 11418</p>
        </a>
      </div>
      <!--<div class="col-lg-12  text-center">-->
        <!--<a href="https://www.google.com/maps/place/71+W+47th+St,+New+York,+NY+10036+Suite+302">-->
          <!--<i class="fa fa-map-marker fa-3x wow bounceIn"></i>-->
          <!--<p>71 West 47 Street (Suite 302), Midtown, New York, NY, 10036 </p>-->
        <!--</a>-->
      <!--</div>-->
      <div class="col-lg-12  text-center">
        <a href="mailto:8710leffertsblvd@gmail.com">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>8710leffertsblvd@gmail.com</p>
        </a>
      </div>
    </div>
  </div>

</section>



<h3 class="text-center">POPULAR SEARCHES</h3>
<hr class="primary">
<section id="popularsearch" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to "Sell my iPhone 6", sell_my_iphone_6_path %> <br/>
        <%= link_to "Sell my iPhone in NYC", sell_my_iphone_nyc_path %> <br/>
        <%= link_to "Sell iPhone 6 plus", sell_iphone_plus_path %> <br/>
        <%= link_to "Where to sell used iPhone in NYC", where_to_sell_my_iphone_in_nyc_path %> <br/>
        <%= link_to "How to sell my iPad", how_to_sell_my_ipad_nyc_path %> <br/>
        <%= link_to "Sell my used iPad Air", sell_my_used_ipad_air_path %> <br/>
        <%= link_to "Places that buy used iPhones", places_that_buy_iphone_nyc_path %> <br/>
        <%= link_to "Sell Electronics in Long Island", sell_long_path %> <br/>
        <%= link_to "Sell Electronics in Staten Island", sell_staten_path %> <br/>
      </div>
      <div class="col-sm-4">
        <%= link_to "Pawnshops that buy electronics", pownshops_that_buy_electronics_path %> <br/>
        <%= link_to "Sell electronics in NYC", sell_electronics_in_nyc_path %> <br/>
        <%= link_to "New York City electronics buyers", new_york_city_buyers_path %> <br/>
        <%= link_to "NYC buyers of electronics", nyc_iphone_buyers_path %> <br/>
        <%= link_to "Where to sell MacBook pro in NYC", where_to_sell_macbook_in_nyc_path %> <br/>
        <%= link_to "Who buys electronics in NYC", who_buys_electronics_in_nyc_path %> <br/>
        <%= link_to "How to sell electronics in New York", how_to_sell_electronics_in_new_york_city_path %> <br/>
        <%= link_to "Sell Electronics in Manhattan", sell_manhattan_path %> <br/>
        <%= link_to "Sell Electronics in New Jersey", sell_jersey_path %> <br/>
      </div>
      <div class="col-sm-4">
        <%= link_to "Sell electronics in Queens", sell_queens_path %> <br/>
        <%= link_to "Cell phone repair in Queens", cell_phone_repair_path %> <br/>
        <%= link_to "Where to fix my electronics in Queens", cell_phone_repair_where_path %> <br/>
        <%= link_to "iPhone repair in Queens", cell_phone_repair_iphone_path %> <br/>
        <%= link_to "Fix Samsung in Queens", cell_phone_repair_samsung_path %> <br/>
        <%= link_to "Sell my iPhone in Queens", iphone_in_queens_path %> <br/>
        <%= link_to "Sell my iPad in Queens", ipad_in_queens_path %> <br/>
        <%= link_to "Sell Electronics in Connecticut", sell_connecticut_path %> <br/>
        <%= link_to "Sell Electronics in Brooklyn", sell_brooklyn_path %> <br/>
      </div>
    </div>
  </div>
</section>


<p class="text-center">Copyright © 2015 SellElectronics.NYC inc</p>