




<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Our Queens location works Sundey-Friday from 10 am till 7 pm. If you want to come to
          our Manhattan location you need to schedule an appointment. Feel free to call us any time. </p>
      </div>
      <div class="col-lg-12  text-center">
        <a href="tel:+1-718-846-1600">
          <i class="fa fa-phone fa-3x wow bounceIn"></i>
          <p>718-486-1600</p>
        </a>
      </div>
      <div class="col-lg-12  text-center">
        <a href="https://www.google.com/maps/dir/Current+Location/8710+Lefferts+BLVD+Richmond+Hill+NY+11418">
          <i class="fa fa-map-marker fa-3x wow bounceIn"></i>
          <p>8710 Lefferts blvd Richmond Hill, Queens, NY, 11418</p>
        </a>
      </div>
      <div class="col-lg-12  text-center">
        <a href="https://www.google.com/maps/place/71+W+47th+St,+New+York,+NY+10036+Suite+302">
          <i class="fa fa-map-marker fa-3x wow bounceIn"></i>
          <p>71 West 47 Street (Suite 302), Midtown, New York, NY, 10036 </p>
        </a>
      </div>
      <div class="col-lg-12  text-center">
        <a href="mailto:8710leffertsblvd@gmail.com">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>8710leffertsblvd@gmail.com</p>
        </a>
      </div>
    </div>
  </div>

</section>

<h3 class="text-center hidden-xs">POPULAR SEARCHES</h3>
<hr class="primary">
<section id="popularsearch" class="hidden-xs text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to "sell my iPhone 6", sell_my_iphone_6_path %> <br/>
        <%= link_to "sell my iPhone in NYC", root_path %> <br/>
        <%= link_to "sell iPhone 6 plus", root_path %> <br/>
        <%= link_to "Where to sell used iPhone in NYC", root_path %> <br/>
        <%= link_to "How to sell my iPad", root_path %> <br/>
        <%= link_to "Sell my used iPad Air", root_path %> <br/>
        <%= link_to "places that buy used iPhones", root_path %> <br/>
      </div>
      <div class="col-sm-4">
        <%= link_to "Pawnshops that buy electronics", root_path %> <br/>
        <%= link_to "sell electronics in NYC", root_path %> <br/>
        <%= link_to "New York City electronics buyers", root_path %> <br/>
        <%= link_to "NYC buyers of electronics", root_path %> <br/>
        <%= link_to "Where to sell MacBook pro in NYC", root_path %> <br/>
        <%= link_to "Who buys electronics in NYC", root_path %> <br/>
        <%= link_to "How to sell electronics in New York", root_path %> <br/>
      </div>
      <div class="col-sm-4">
        <%= link_to "Sell electronics in Queens", root_path %> <br/>
        <%= link_to "Cell phone repair in Queens", root_path %> <br/>
        <%= link_to "Where to fix my electronics in Queens", root_path %> <br/>
        <%= link_to "iPhone repair in Queens", root_path %> <br/>
        <%= link_to "Fix Samsung in Queens", root_path %> <br/>
        <%= link_to "Sell my iPhone in Queens", root_path %> <br/>
        <%= link_to "Sell my iPad in Queens", root_path %> <br/>
      </div>
    </div>
  </div>
</section>


<p class="text-center">Copyright © 2015 SellElectronics.NYC inc</p>